%p.pull-right.visible-xs
  %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", type: "button"} Toggle nav
.jumbotron
  %h1 Hello, world!
  %p This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
.row
  .col-6.col-sm-6.col-lg-4
    %h2 Heading
    %p This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
    %p
      %a.btn.btn-default{href: "#", role: "button"} View details »
