- content_for :page_header do
  .col-md-9.col-md-offset-3
    %ul.nav.nav-pills
      %li{ class: active_action?(:members)}
        %a{href: family_path(current_family)}
          Members
      %li{ class: active_action?(:albums)}
        %a{href: family_albums_path(current_family)}
          Albums
      %li{ class: active_action?(:invite)}
        %a{href: "#"}
          Invite