- content_for :left_sidebar do
  .list-group
    - current_user.families.each do |family|
      %a.list-group-item{href: family_path(family), class: active_family?(family)}
        = family.name

- content_for :page_header do
  .col-md-9.col-md-offset-3
    %ul.nav.nav-tabs
      %li
        %a{href: "#", class: active_action?(:members)}
          Members
      %li
        %a{href: family_albums_path(@family), class: active_action?(:albums)}
          Albums
      %li
        %a{href: "#", class: active_action?(:invite)}
          Invite

