#photos
  .row
    - @photos.each do |photo|
      = render photo

- content_for :sidebar do
  #photo-upload
    = form_for Photo.new, html: {role: "form"} do |f|
      .form-group
        = f.label :image, "Upload Photos:"
        = f.file_field :image, multiple: true, name: "photo[image]", class: "hidden", id: "upload-field"
        %a#upload-btn.form-control.btn.btn-primary{href: '#'}
          Upload
      .well.well-lg
        or Drag and Drop Here


  %script#template-upload{type: "text/x-tmpl"}
    .upload
      {%=o.name%}
      .progress
        .progress-bar.progress-bar-success{role: "progressbar", style: "width: 0%"}

